.grid-container {
  display: grid;
  grid-template-columns: 120px 1fr auto auto auto auto;
  gap: 60px;
  align-items: center;
  padding: 15px;
  padding-left: 10em;
  padding-right: 10em;
  margin-bottom: 10px;
  border-radius: 8px;
}

.carrito-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.grid-container img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}

.botonMas{
    width: 40px;
    height: 40px;
    background-color: white;
    color: blue;
    border-color: blue;
    border-radius: 10px;
}

.botonMenos{
    width: 40px;
    height: 40px;
    background-color: white;
    color: red;
    border-color: red;
    border-radius: 10px;
}

.contador{
    margin-top: 10px;
}

.texto{
    height: 40px;
    line-height: 50px;
}

.boton{
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px;
  font-family: sans-serif;
}